.footer.style-fourth .footer-inner, .footer .footer-inner {
	background-color:#06122c;
}

.work-with-us {
	padding-top:100px;
	padding-bottom:100px;
}

.perfect-home .content-right {padding-top:0px;}
.counter .number-counter.style-1 {padding:30px 40px 30px;}
.counter .number-counter.style-1 div {margin-bottom:20px; color:#e7c873;}